mat-grid-list {
  margin: 20px;
}

mat-grid-title {
  border: 10px solid black;
}

mat-form-field {
  width: 200px;
}

mat-drawer {
  position: fixed;
  width: 480px;
}

.search {

}

.mat-drawer-container {
  background: transparent;
}
