.text-color {
    color: #3f51b5;
}
 
mat-accordion{
    margin-top: 20px;
}

mat-card-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

mat-card{
padding-top: 20px;
}

img{
  width: 50%;
}