<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="100%" fxFlex.xs="100%">
        <mat-card-title>Customer's detail
            <hr>
        </mat-card-title>
        <mat-card-content>
            <div fxLayout="column wrap" fxLayoutGap="10px">
                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Email:</strong></div>
                    <div fxFlex>{{customer?.Email}}</div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>CPF:</strong></div>
                    <div fxFlex>{{customer?.Cpf}}</div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Name:</strong></div>
                    <div fxFlex>{{customer?.Name}}</div>
                </div>

                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex><strong>Telephone</strong></div>
                    <div fxFlex>{{customer?.Telephone}}</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>