<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-title>Create a new owner</mat-card-title>

        <form [formGroup]="customerForm" autocomplete="off" novalidate (ngSubmit)="createCustomer(customerForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>

                <mat-form-field>
                    <input matInput type="email" placeholder="Email" formControlName="email" id ="email">
                    <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('email', 'required')">Address is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'maxlength')">You have more than 100 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="CPF" formControlName="cpf" id="cpf">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('cpf', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('cpf', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Name" formControlName="name" id="name">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Telephone" formControlName="telephone" id="telephone">
                    <mat-hint align="end">Not more then 100 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('telephone', 'required')">Address is required</mat-error>
                    <mat-error *ngIf="hasError('telephone', 'maxlength')">You have more than 100 characters</mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!customerForm.valid">Create</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>