@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, body { 
    margin: 0;
    height: 100%;
}
.container {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.container::-webkit-scrollbar { 
    display: none;  
}